@use '../Abstracts/' as *;
.col-card{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 80%;
    height: 15rem;
    margin-bottom: 3rem;
    padding: 50px 5px 0px;
    border: 1.5px solid $primary-color;
}

.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
}