@use '../Abstracts/index' as *; 

.credentials-form{
    background-color: $white-color;
    padding: $form-padding;
    width: 30%;
    border-radius: $border-radius;
    margin-top: 50px;
    
    label{
        width: 100%;
        display: inline-flex;
        user-select: none;
        margin-bottom: 1.5rem;
        align-items: center;
    }

    .credentials input {
        border: none; // Remove default borders
        border-bottom: 1px solid #ccc; // Default underline
        width: 100%;
        outline: none;
        transition: border-color 0.3s ease;
      
        &:is(:focus, :valid) {
          border-bottom-color: $primary-color;
        }

        &:is(:focus, :valid) ~ i{
            color: $primary-color;
          }
      }

    i{
        margin-right: 0.2rem;
        font-size: $font-size;
        color: #ccc;
    }
    

    div{
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
        margin-bottom: 1rem;
        a{
            text-decoration: none;
            max-width: 40%;
        }
        @media (max-width: 768px) {
            display: block;
            height: 30%;
            .element {
                display: block;
                max-width: 100%;
            }
        }
    }

    #checkbox-label{
        display: inline-flex;
        align-items: center;
        max-width: 50%;
        height: 2rem;
        input{
            display: flex;
            width: auto;
            height: 2rem;
            margin-right: 0.2rem;
        }
    }

    .forgot-password{
        position: relative;
        bottom: 10px;
    }   

    .ls-nav{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.form-control{
    margin-bottom: 1.5rem;
    padding: 1rem;
    &:focus{
        outline: none;
        box-shadow: none;
        border: 0.1rem solid $black-color;
    }
}