@use '../Abstracts/index' as *; 

.form-control{
    margin-bottom: 1.5rem;
    padding: 1rem;
    &:focus{
        outline: none;
        box-shadow: none;
        border: 0.1rem solid $black-color;
    }
}