@use '../Abstracts/' as *;

.navbar{
    justify-content: space-between;
    padding: 1.3rem 8rem;
}


.navbar-nav{
    width: 30%;
    justify-content: space-between;
    align-items: center;
    a{
        color: $grey-color-nav;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        &:hover{
            color: $primary-color;
            transition: all 0.2s;
        }
    }
}