// Colors
$primary-color: #0f8bde;
$grey-color: grey;
$white-color: #ffffff;
$black-color: #000;

// Border
$border-radius: 5px;
$border-radius-element: 7px;

// Paddings and margins
$form-padding: 50px;
$padding: 15px;


// Font
$font-size: 16px !default;